* {
    margin: 0px;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#image {
    border-radius: 10px;
    width: 225px;
    margin-top: 13px;
}

p {
    font-family: Outfit;
    text-align: center;
}

.title {
    font-size: 15px;
    margin: 15px 25px 15px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.text {
    font-size: 13px;
    padding: 0 25px 25px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}